<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>learn-webauthn</title>

  <link rel="stylesheet" href="/assets/styles.css">
</head>

<body>
  <h1>WebAuthnやってみた</h1>
  <label for="username">ユーザー名：<input type="text" id="username"></label>
  <button id="reg">ユーザー登録</button>
  <button id="auth">ログイン</button>

  <script src="/assets/script.js"></script>
</body>
</html>
