<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>learn-webauthn</title>
    <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>
    <p>Hello! <%= user.username %></p>
</body>
</html>
